.body{
    margin:0;
    padding: 0;
}
.header.content{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

.title {
    margin: 190px 0 0 0;
    text-align: center;
    padding: 10px 0;
    color: #FF7373;
    text-shadow: 0 1px 7px rgba(0, 0, 0, .7);
}


.btn {
    background: linear-gradient(to right, transparent 20%, #FA8072);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.5s;
    color: #E17666;
    font-size: 0.89rem;
    width: 120px;
    height: 35px;
    padding: .09rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-position: right;
    color: #9E5638;
    font-weight: 700;
}

.header.overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #141414;
    opacity: .35;
    z-index: -10;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    visibility: visible;
}
 
