.paginado {
    display: flex;
    justify-content: center;
    align-content: end;
    
}

.btn{
    background: transparent;
    border-radius: 10px;
    border-color: transparent;
    color: #2E2A3B;
    font-size: 15px;
    font-weight: 600;
}
